body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2.5%;
}

/* this is here only for editing purposes */
div {
  border: 1px solid red;
}

h1 {
  color: #9cdbdb;
  font-size: 28px;
}

h2,
h3 {
  color: #5a6275;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  margin: auto;
  font-size: 16px;
  color: #9cdbdb;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: #9cdbdb;
}

/* classes */
.weather-app {
  max-width: 600px;
  border: 2px solid #9cdbdb;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 auto;
}

.btn {
  margin-left: 0;
}

.fa-search {
  font-size: 15px;
}

.search-form {
  margin-bottom: 30px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.more-info {
  color: #9cdbdb;
}

.max-min {
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  padding-left: 0;
}

.next-days {
  padding-top: 20px;
}

.week-day {
  font-size: 15px;
  text-align: center;
}

.week-day-temp {
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
}

.week-day-icon {
  font-size: 30px;
  text-align: center;
}

.fa-cloud-rain {
  color: rgb(5, 90, 155);
}

.fa-sun {
  color: #e68f0e;
}

.next-days {
  color: #9cdbdb;
  font-weight: bold;
}

.btn-column {
  padding-left: 0;
}

/* ids */
#btn-current {
  margin-left: 5px;
}

#weather-description {
  color: #5a6275;
  font-style: italic;
}

#current-temp {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

#credit {
  text-align: center;
}
